<div id="menu" class="input-append offset2">
	<input class="span6" id="appendedInputButton" type="text">
	<button class="btn btn-success" id="addComment" type="button">Add</button>
</div>
<div id="comments_container" class="offset2 span6">
</div>